  <div class="formulaire-contact">
    <%= form_for(@contact, :html => {:class => "contact_form"}) do |f| %>
      <div class="field">
        <%= f.label :Nom_et_prénom %> <br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %> <br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :Votre_message %> <br>
        <%= f.text_area :message %>
      </div>
        <%= f.submit "Envoyer votre message", :class => 'bouton-classic'%>
    <% end %>
  </div>
