<div class="footer-bar"></div>

<div class="footer">
  <div class="profile">
      <%= cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1603284899/Portfolio/Nicolas_Bouygues_ct5bmr.png") %>
    <div class="profile-description">
      Je suis un développeur Web Fullstack junior, avec une expérience Sales de 3 ans. Mon double profil me
      permet d'avoir à la fois une vision tech et business pour vous aider à vous développer. Je crée
      des sites adaptés à vos besoins, responsif et facile à utiliser.
    </div>
    <div class="profile-name">
      Nicolas Bouygues <br>
      Développeur Web
    </div>
  </div>
  <div class="social-networks">
    <div class="linkedin">
        <a href="https://www.linkedin.com/in/nicolas-bouygues-4a204298/" target="_blank">LINKEDIN <i class="fab fa-linkedin"></i></a>
    </div>
    <div class="github">
        <a href="https://github.com/nicolasbouygues" target="_blank">GITHUB <i class="fab fa-github"></i></a>
    </div>
  </div>
  <div class="navigator">
    <div class="footer-link">
      <%= link_to "Accueil", root_path, data: { turbolinks: false }  %>
      <p>Retour à l'accueil</p>
    </div>
    <div class="footer-link">
      <%= link_to "Projets", projects_path, data: { turbolinks: false }  %>
      <p>En savoir plus sur mes projets</p>
    </div>
    <div class="footer-link">
      <%= link_to "A Propos", about_path, data: { turbolinks: false } %>
      <p>A propos de mon parcours</p>
    </div>
    <div class="footer-link">
      <%= link_to "Contact", contact_index_path, data: { turbolinks: false }  %>
      <p>Restons en contact!</p>
    </div>
  </div>
</div>

