<div class="navbar-myportfolio">
    <%= link_to "NB", root_path, class: "square-logo"  %>
  <nav>
  <div class="navbar-toggle" id="js-navbar-toggle">
      <i class="fas fa-bars"></i>
  </div>
    <div class="header-smart-nav">
        <div class="social-networks">
      <div class="linkedin">
          <a href="https://www.linkedin.com/in/nicolas-bouygues-4a204298/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="github">
          <a href="https://github.com/nicolasbouygues" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
    <ul id="link_jquery">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Projects" , projects_path  %></li>
      <li><%= link_to "Contact me", contact_index_path  %></li>
      <li><%= link_to "A propos", about_path %></li>
    </ul>

  </nav>
</div>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('#link_jquery a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>
