<head>
  <title>Nicolas Bouygues | Accueil</title>
  <meta name="description" content="Page d'accueil de mon site, développeur performant & innovant, avec expérience">
</head>

<div class="header-show center bottom-80">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left bold">Web Developer Fullstack</span>
  </h2>
  <p class="ml5">
    <span class="letters letters-right">Bonjour, je suis Nicolas, un développeur web freelance.</span>
    <br>
    <span class="letters letters-middle">Mon double profil business / tech est un atout pour vous aider à vous développer.</span>
  </span>
  </p>
<script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>

<div class="avantages">

  <div class="avantage">
    <img src="https://www.flaticon.com/svg/static/icons/svg/2462/2462975.svg" alt="browser friendly websites">
    <h3>Développement Front-end & Back-end</h3>
    <p>Un site responsif, qu'il soit vitrine ou e-commerce, avec une interface utilisateur au top pour atteindre vos objectifs.</p>
  </div>

  <div class="avantage">
    <img src="https://www.flaticon.com/svg/static/icons/svg/1737/1737585.svg" alt="performance and SEO optimization">
    <h3>Performance & SEO</h3>
    <p>Un site parfaitement optimisé, facile à trouver sur les moteurs de recherche.</p>
  </div>

  <div class="avantage">
    <img src="https://www.flaticon.com/svg/static/icons/svg/2519/2519443.svg" alt="innovative technologies">
    <h3>Technologies innovantes</h3>
    <p>Je continue à me former quotidiennement sur de nouveaux langages afin de pouvoir proposer des sites avec le meilleur des technologies actuelles.</p>
  </div>

</div>
  <div class="call-to-action center">
    <a href="/meeting">
      <div class="bouton-classic block">Prendre RDV</div>
    </a>
  </div>
</div>
<hr>


<div class="projets-home">
<div class="header-show center">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left">Mes Projets</span>
  </h2>
  </div>
  <br>
  <div class="projets-home-cards">
    <div class="card-projet-home">
        <div class="logo">
          <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602765365/Portfolio/logofoodies_ht9o7w.png"), project_path(1), data: { turbolinks: false } %>
        </div>
        <div class="description-projet-homepage">
          <h2><%= link_to "> Foodies",project_path(1), data: { turbolinks: false }  %></h2>
          <p>J'ai été le développeur du back-end de Foodies, sur toute la partie gestion des commandes, des recettes,
           du panier et du paiement sur Stripe. J'ai également géré le Front-end du site sur l'ensemble des pages,
         en collaboration avec une équipe de 2 personnes.</p>
        </div>
    </div>
    <div class="projets-home-page">
      <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602750120/Portfolio/Foodies_homepage.png"), project_path(1), data: { turbolinks: false }  %>
    </div>
  </div>
  <div class="projets-home-cards">
    <div class="card-projet-home">
        <div class="logo-vidag">
          <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1604314707/Portfolio/Screenshot_from_2020-11-02_11-57-35_m1mm4c.png"), project_path(2), data: { turbolinks: false }%>
        </div>
        <div class="description-projet-homepage">
          <h2><%= link_to "> Vidag",project_path(2), data: { turbolinks: false }  %></h2>
          <p>J'ai développé Vidag dans le cadre d'une formation que j'ai faîte sur React.JS. Pour tester mes capacités et mon aisance sur le langage,
          j'ai développé ce site qui permet de rechercher des vidéos sur YouTube et Dailymotion d'une seule et même page.</p>
        </div>
    </div>
    <div class="projets-home-page">
      <%= link_to cl_image_tag(@projects[1].homepage), project_path(2), data: { turbolinks: false }  %>
    </div>
</div>
    <div class="projets-home-cards">
    <div class="card-projet-home">
        <div id="logo-le-pere-brouette">
          <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602765817/Portfolio/le_père_brouette_logo_d39vpb.png"), project_path(3), data: { turbolinks: false } %>
        </div>
        <div class="description-projet-homepage">
          <h2><%= link_to "> Le Père Brouette",project_path(3), data: { turbolinks: false }  %></h2>
          <p>Le Père Brouette est le premier prototype que j'ai développé. C'est une pseudo-marketplace de brouettes, qui fonctionne
          sur le principe de Airbnb. </p>
        </div>
    </div>
    <div class="projets-home-page">
      <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602750647/Portfolio/Le_Père_Brouette_Homepage_ygcrzb.jpg"), project_path(3), data: { turbolinks: false }  %>
    </div>
  </div>
</div>

  <div class="call-to-action center">
    <a href="/meeting">
      <div class="bouton-classic block">Prendre RDV</div>
    </a>
  </div>
