<head>
  <title>Liste de mes projets</title>
  <meta name="description" content="Voici les différents projets que j'ai réalisés">
</head>

<div class="header-show">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left">Mon Portfolio</span>
  </h2>
  <p class="ml5">
    <span class="letters letters-right">Voici les différents projets auxquels j'ai participés.</span>
  </span>
  </p>
<script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>
</div>
<div class="projets-home">
  <div class="projets-home-cards">
    <div class="card-projet-home">
        <div class="logo">
          <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602765365/Portfolio/logofoodies_ht9o7w.png"), project_path(1), data: { turbolinks: false } %>
        </div>
        <div class="description-projet-homepage">
          <h2><%= link_to "> Foodies",project_path(1), data: { turbolinks: false }  %></h2>
          <p>J'ai été le développeur du back-end de Foodies, sur toute la partie gestion des commandes, des recettes, du panier et du paiement sur Stripe. J'ai également géré le Front-end du site sur l'ensemble des pages, en collaboration avec une équipe de 2 personnes.</p>
        </div>
    </div>
    <div class="projets-home-page">
      <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602750120/Portfolio/Foodies_homepage.png"), project_path(1), data: { turbolinks: false }  %>
    </div>
  </div>
  <div class="projets-home-cards">
    <div class="card-projet-home">
        <div class="logo">
          <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1604314707/Portfolio/Screenshot_from_2020-11-02_11-57-35_m1mm4c.png"), project_path(2), data: { turbolinks: false } %>
        </div>
        <div class="description-projet-homepage">
          <h2><%= link_to "> Vidag",project_path(2), data: { turbolinks: false }  %></h2>
          <p>J'ai développé Vidag dans le cadre d'une formation que j'ai faîte sur React.JS. Pour tester mes capacités et mon aisance sur le langage,
          j'ai développé ce petit site qui permet de rechercher des vidéos sur YouTube et Dailymotion d'une seule et même page.</p>
        </div>
    </div>
    <div class="projets-home-page">
      <%= link_to cl_image_tag(@projects[1].homepage), project_path(2), data: { turbolinks: false }  %>
    </div>
</div>
    <div class="projets-home-cards">
    <div class="card-projet-home">
        <div id="logo-le-pere-brouette">
          <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602765817/Portfolio/le_père_brouette_logo_d39vpb.png"), project_path(3), data: { turbolinks: false } %>
        </div>
        <div class="description-projet-homepage">
          <h2><%= link_to "> Le Père Brouette",project_path(3), data: { turbolinks: false }  %></h2>
          <p>Le Père Brouette est le premier "projet" que j'ai développé. C'est une marketplace (abstraite bien entendu) de brouettes, qui fonctionne
          sur le principe de Airbnb. </p>
        </div>
    </div>
    <div class="projets-home-page">
      <%= link_to cl_image_tag("https://res.cloudinary.com/duw19l0ns/image/upload/v1602750647/Portfolio/Le_Père_Brouette_Homepage_ygcrzb.jpg"), project_path(3), data: { turbolinks: false }  %>
    </div>
  </div>
</div>

