<div class="header-show">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left"> <%= @project.title %> </span>
  </h2>
  <p class="ml5">
    <span class="letters letters-right"><%= @project.description %></span>
  </span>
  </p>
<script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>
</div>
<div class="projets-features">
  <div class="projet-col-gauche">
    <div class="bouton-classic">
      <a href="<%= @project.adresseweb %>" target="_blank">Voir le site</a>
    </div>
    <div class="projet-responsabilité">
      <h4>Responsabilités</h4>
      <% @project.technologies.each do |techno|  %>
      <ul>
        <li><%= techno %></li>
      </ul>
      <% end %>
    </div>
  </div>
  <div class="projet-role">
    Foodies est un projet auquel j'ai collaboré lors de ma formation au Wagon. Nous étions une équipe de 3 personnes, et nous avons développé le
    site en deux semaines.
  </div>
<div class="projet-image">
  <img src="<%= @project.homepage %>" alt="Foodies homepage">
</div>
</div>
<div class="projet-deroule">
  <div class="role">
    <h4>Mon rôle dans le projet</h4>
    <p> <%= @project.projet_role %> </p>
  </div>
  <div class="role">
    <h4>Le début du projet</h4>
    <p> <%= @project.projet_debut %> </p>
  </div>
  <div class="role">
    <h4>Le back-end</h4>
    <p> <%= @project.projet_back %> </p>
  </div>
  <div class="role">
    <h4>Le front-end</h4>
    <p> <%= @project.projet_front %> </p>
  </div>
</div>




