<h2><%= @project.title %></h2>
<p><%= @project.description %></p>
<%= link_to 'Retour aux projets', projects_path %>
<% if @project.photos.attached? %>
  <img src="<%=(url_for(@project.photos))%>" alt="">
<% end %>
<%= qfqsfS %>
