<div class="header-show">
  <h2 class="ml5">
  <span class="text-wrapper">
    <span class="letters letters-left">Restons en contact</span>
  </h2>
  <p class="ml5">
    <span class="letters letters-right">N'hésitez pas à m'envoyer un message concernant votre projet et je reviendrai vers vous dès que possible.</span>
  </span>
  </p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>

<div class="contact-area">
  <div class="formulaire-contact">
    <%= form_for(@contact, :html => {:class => "contact_form"}) do |f| %>
      <div class="field">
        <%= f.label :Nom_et_prénom %> <br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %> <br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :Votre_message %> <br>
        <%= f.text_area :message %>
      </div>
        <%= f.submit "Envoyer votre message"%>
    <% end %>
  </div>
</div>

