<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Portofolio | Nicolas Bouygues">
    <meta property="og:description" content="Développeur Web Freelance">
    <meta property="og:type" content="siteweb">
    <meta property="og:url" content="https://nicolasbouygues.herokuapp.com/">
    <meta property='og:image' content='https://images.unsplash.com/photo-1493119508027-2b584f234d6c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8ZnJlZWxhbmNlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="Nicolas Bouygues, Développeur Web, Ruby on Rails, Javascript, HTML, CSS">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="turbolinks-visit-control" content="reload">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
        <div class="container">
          <%= yield %>
      </div>
    <%= render 'shared/footer' %>
  </body>
</html>
